<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Simple Airbnb</a>
  <form class="form-inline">
    <button class="btn btn-outline-primary" type="submit"><%= link_to "Add flat", new_flat_path%></button>
  </form>
</nav>
<div class="show-all">
  <div class="header">
  </div>
  <div class="container cards-overlap">
    <div class="individual-card-show">
      <h1><strong><%= @flat.name %></strong></h1>
      <p><%= @flat.address %></p>
    </div>
    <div class="individual-card-show">
      <h2><strong>A bit more about this flat...</strong></h1>
      <p><%= @flat.description %></p>
    </div>
    <div class="individual-card-show">
      <h2><strong>Details</strong></h1>
      <div class="details">
        <p><i class="fas fa-user-friends">  </i><%= @flat.number_of_guests %>  <i class="fas fa-euro-sign">  </i><%= @flat.price_per_night %></p>
      </div>
    </div>
</div>
</div>
